@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
        min-width: 320px;
        min-height: 100vh;

        @apply font-sans bg-primary-300 text-default;
    }
}
